1)The thing is for example that a doctor wants to see his previous patients history then there should be functionality right about waiting list where he should be able to have a list and upon selecting one of the patients he should be able to see which patient came on which date and what was his chief complaint and what was the diagnosis and upon selecting any of the patients he should be able to view case sheet and every other diagnosis he performed
2)The second Functionality I want to add is that for example one patient came for butox treatment or for example hair loss treatment then the next treatment should be automatically fulfilled like his ICD code and prescription should be automatically filled 
3) IF the doctor has already clicked on GUI codes then the narrative diagnosis should also be filled automatically
4) IF the doctor has clicked on a medicine there should be some change on the button which gives the doctor an idea
that the medicine is added the doctor should also be able to see the medications list automatically and then he should be able to see the updated list everytime automatically
5)In the seen and Examined by tab the doctor's orders/Nursing Instructions should not be there because it does not make any sense it being there 
6)The Nursing viatls should also not be there because it does not make any sense it being there 
7)The treatment should be according to the procedure there are some known treatments in cosmetics and they should work accordingly like for example the doctor just types Body lift and they should be able to automatically get the standard procedure prep for that operation and 
8)And then the next tab Clinical treatment should also work according to that Medication Administered should not be there and the clinical treatment should also provide location flow according to that and at top it should have the check box of whether the session tolerance was well or not like a top check box like something
9)The advisory treatment should not have nurse signature and advisory completed at section
10)The last thing is that the standard time line is half an hour and if the doctor has more consultancy time than half an hour then it should automatically reserve the next slot for that user as well and if there is any conflict then the system should move the user next in line to half an hour next and it should work in sync
